$primary-color: #F001A6;
$secondary-color: #7000C8;

$footer-text: #DAE2E5;
$colored-text: #120124;
$secondary-colored-text:#7000C8;
$light-colored-text: rgba(75, 20, 102, 0.5);

$hover-btn-color: #BC01F0;

$gradient-background: linear-gradient(90deg, #FF02A9 -5.48%, #91017D 14.37%, #B0017C 25.72%, #640183 47.83%, #9C0191 78.46%, #FF0EBA 107.95%);