$primary-color: #F001A6;
$secondary-color: #7000C8;

$footer-text: #DAE2E5;
$colored-text: #120124;
$secondary-colored-text:#7000C8;
$light-colored-text: rgba(75, 20, 102, 0.5);

$additional-btn-color: #BC01F0;